@import "elements.less";

// Your default headline font stack and font weight
@headline-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@headline-weight: bold; // Usually 700 for webfonts

// Your regular text font and weight
@text-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@text-weight: normal; // Usually 400 for webfonts

@font-lora: 'Lora','Georgia','Times New Roman';
@font-open_sans: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;

/*:::: Typography ::::*/
@sr_red: #d52027;
@sr_yellow: #ffcd03;
@sr_caption: #e1e8e1;
@slink: #6699cc;
@vlink: #333;
@hlink: #666;
@alink: #666;






/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-weight: @text-weight;
    padding-top: 40px;
    padding-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
	position: relative;
	font-family: @font-open_sans;
	font-weight: @headline-weight;
}

.img-replace{
	display: block;
	padding: 0;
	margin: 0;
}

.img-replace > a{
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {
	color: @slink;
	text-decoration: none;
}

a:visited {
	color: @vlink;
}

a:hover {
	color: @hlink;
	text-decoration: underline;
}

a:active {
	color: @alink;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body{
	height: 100%;
}

.navbar-header{
	float: left;
	width: 50%;
}

#logo{
	
	.nav-logo{
		display: block;
		text-indent: -9999px;
		float: left;
		width: 36px;
		height: 36px;
		background: transparent url(../images/farmer_logo.png) 0 0 no-repeat;
		margin: 2px 0;
		padding: 0;
	}
	
	.navbar-brand{
		float: left;
		width: 400px;
		font-weight: 400;
		text-decoration: none;
		margin-left: 8px;
		padding: 0;
		line-height: 40px;
	}
	
}

#user-container{
	float: right;
	margin-top: 4px;
	margin-right: 10px;
	img{
		width: 32px;
		height: 32px;
		display: inline-block;
		float: left;
	}
	p{
		float: left;
		display: block;
		padding: 0;
		margin: 8px 0 0 4px;
	}
}

#navbar{
	float: right;
	width: 50%;
	text-align: right;
	
	#link-signin{
		display: inline-block;
		margin-top: 6px;
	}
	
	#link-logout{
		color: #fff;
		float: right;
	}
	
}

#main-container{
	padding: 0;
	height: 100%;
	.content-container{
		float: left;
		width: 30%;
		height: 100%;
		background-color: #33495e;
		
		.inner-container{
			padding: 20px;
		}
		
		h2{
			margin: 0 0 20px 0;
			padding: 0 0 5px 0;
			border-bottom: 1px solid #476683;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
	
	#container-tweet{		
		overflow: auto;
		.tweet-list{

		}
		
		ul{						
			margin: 0;
			padding: 0;
			
			li{
				cursor: pointer;
				cursor: hand;
				list-style-type: none;
				padding: 0 0 0px 0;
				margin: 0 0 0px 0;
				border-bottom: 1px solid #405d78;
				
				.media{
					padding: 10px 5px;
					
					h4{
						font-size: 10px;
						margin: 0;
						padding: 0 0 2px 0;
					}
					p{
						font-size: 8px;
						font-style: italic;
						color: #ccc;
						margin: 0;
						padding: 0 0 2px 0;
					}
					span{
						font-size: 13px;
					}
				}
			}
			
			.selected{
				background-color: #39526a;				
			}
			
		}
	}	

	#container-select{
		background-color: #3b556d;
		width: 20%;
	}
	
	#container-display{
		width: 50%;
		background-color: #415e79;
		.inner-container{
			
			
			h2{
				text-align: left;
			}
		}	
		
		#tweet-item{
				display: block;
		}	
	}
	
}

#intro-container{
	text-align: center;
	h2{
		font-size: 30px;
		font-weight: 700;
		margin: 50px 0 10px 0;
		padding: 0;
	}
	
	h3{
		font-size: 16px;
		font-weight: 300;
		margin: 0 0 40px 0;
		padding: 0;
	}
	
}

.form-horizontal{
	.form-group{
		margin-bottom: 8px;		
	}
	.control-label {
		text-align: left;
		padding-bottom: 3px;
	} 
}

.tabpanel .nav-tabs{
	border-bottom: 1px solid #405d78;
	
	li{
		border-bottom: none !important;
	}
}

.tabpanel{
	position: relative;
}

#tweet-toggle{
	position: absolute;
	top: 5px;
	right: 0px;
	color: #fff;
	font-weight: bold;
}

#myModal{
	textarea{
		width: 100%;
		height: 140px;
	}
	
	.sm{
		height: 50px;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}